<div class='content-wrapper' #header>
  <div id='toolbar'>
    <div class="left">
      <a href='/' title='Home'>
        <span>Home</span>
      </a>
      <form action='/search' autocomplete='off' id='search-form' method='get'>
        <input name='q' placeholder='Search here...' size='15' type='text' />
        <input id='button-submit' type='submit' value='Search' />
      </form>
    </div>
    <div class="right">
      <a href='/home?top' title='Top'>
        <span>Top</span>
      </a>
      <a href='/login' title='Login'>
        <span>Login</span>
      </a>
    </div>
  </div>
</div>
