<div class='content-wrapper' #header>
  <div id='toolbar'>
    <div class="left">
      <a routerLink='/' title='Home'>
        <span>Home</span>
      </a>
      <a href='/top' title='Top'>
        <span>Top</span>
      </a>
      <form action='/search' autocomplete='off' id='search-form' method='get'>
        <input name='q' placeholder='Search here...' size='15' type='text' />
        <input id='button-submit' type='submit' value='Search' />
      </form>
    </div>
    <div class="right">
      <a href='/post/create' title='+ New Post'>
        <span>+ New Post</span>
      </a>
      <a *ngIf="!isAuthenticated" routerLink='/login' title='Login'>
        <span>Login</span>
      </a>
      <a *ngIf="isAuthenticated" routerLink='/logout' title='Logout'>
        <span>Logout</span>
      </a>
    </div>
  </div>
</div>
